<ion-nav class="main">

  <ion-header-bar class="bar-positive" id="head1">
    <h1 class="title" id="head2">Tuition Academy</h1>
  </ion-header-bar>

  <ion-content >

    <div id="top-design" >
      <div id="urdu-quote" style="">علم حاصل کرو چاہے چین ہی کیوں نہ جانا پڑے</div>
      <img src="../img/degree3.png" id="degree-cap">
    </div>

    <div style="text-align: center">
      <button class="button icon-left button-royal ion-person" id="but-tutor" ui-sref="tutlist">
        Find Tutor
      </button>
    </div>
    <br>

    <div style="text-align: center">
      <button class="button icon-left button-royal ion-ios-person" id="but-student" ui-sref="stdlist">
        Find Student
      </button>
    </div>

    <br>

    <button class="button icon-left button-block button-royal ion-log-in" id="but-signin" ui-sref="login">
      Log in
    </button>

    <br>

    <button class="button icon-left button-block button-royal ion-person-add" id="but-signup" ui-sref="registration">
      Create Account
    </button>


  </ion-content>


</ion-nav>
